<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>CoupleChallenge</title>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  
  <link rel="stylesheet" href="css/style.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <!--<link href="./Starter Template for Bootstrap_files/bootstrap.min.css" rel="stylesheet">-->
  
</head>

<body id="register-body">
<div class="header-div">
  Welcome to Naughtwee
</div>

<div class="container">
  <div class="level-section">
    <h1>Level 1</h1><br>
    <div class="challenge">
      <div class="challenge-text">Challenge 1 : onsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
commodo consequat.</div>
      <div class="challenge-results">
        <div>
          <span class="">
            Me <i class="fa fa-check" aria-hidden="true"></i>
          </span>
          <span class="">
            My partner <i class="fa fa-check" aria-hidden="true"></i>
          </span>
        </div>
        <img class="challenge-rating" src="./img/cold.png">

      </div>
    </div>

  </div>
</div>



  


  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
  <script src="js/index.js"></script>

</body>
</html>
