<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
         <input type="password" placeholder="Password" name="password_verification" value="{{
          request.form.password_verification }}">
         <br/>
         <input type="seg" placeholder="Sex" name="sex" value="{{
          request.form.sex }}">
         <br/>
         <input type="fullAge" placeholder="fullAge" name="fullAge" value="{{
          request.form.fullAge }}">
         <br/>
         <input type="partner" placeholder="partner" name="partner" value="{{
          request.form.partner }}">
         <br/>
        <input class="btn btn-default" type="submit" value="Register">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>